name: Follow latest

on:
  push:
    branches:
      - master
  schedule:
    - cron: 0 0 * * *

jobs:
  follow:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/checkout@v2
        with:
          repository: tc39/proposals
          path: proposals
      - uses: actions/setup-node@v2-beta
      - name: Install
        run: npm ci
      - name: Make JSON Schema
        run: npx ts-node src/schema.ts
      - name: Make dataset
        run: npx ts-node src/index.ts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Prettier JSON
        run: npx prettier --write .
        working-directory: dist
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: dist
          enable_jekyll: true
          force_orphan: true
