name: Follow latest

on:
  push:
    branches:
      - master
  schedule:
    - cron: 0 0 * * *

jobs:
  follow:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/checkout@v2
        with:
          repository: tc39/proposals
          path: proposals
      - uses: actions/checkout@v2
        with:
          repository: tc39/notes
          path: notes
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install
        run: npm ci
      - name: Build
        run: npm run build
      - name: Make JSON Schema
        run: npm run make-scheme
      - name: Make dataset
        run: npm run make-dataset
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Prettier JSON
        run: npx prettier --write .
        working-directory: dist
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: dist
          enable_jekyll: true
          force_orphan: true
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
